<!DOCTYPE html>
<html>
<head>
  <title>Добро пожаловать</title>
</head>
<body>
<h1>Привет, {{name}}!</h1>
<p>Спасибо, что зарегистрировались на нашем сервисе.</p>
<p>Ваш код подтверждения: <strong>{{code}}</strong></p>
</body>
</html>
